code {
  display: block;
}

a {
  text-decoration: none;
  color: black;
}
a:hover{
  color: blue;
}
h1{
  text-align: center;
}
h2{
  color: #444;
}
h3{
  border-bottom: 1px black solid;
}

.code{
  padding:.5rem;
}

